.col {
    margin-top: 15%;
    margin-left: 38%;
}
td {
    padding: 2%;
}
.container-fluid{
    border: 1em;
}
label{
    width: fit-content;
}
.login{
    margin-left: 15%;
}
.text-danger {
    font-size: small;
}