
.container-table {
    height: 100%;
    background-color: #e5eaf5;
    font-family: sans-serif;
    width: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    display: table;
}
    .error {
        color: red;
    }
    .text-center {
        background-color: antiquewhite;
        border: 1px solid #cecece;
        padding: 2em;
    }
    .vertical-center-row {
        display: table-cell;
        vertical-align: middle;
    }
    nav {
        background-color: #f75990;
    }
    .nav-item {
        padding-right: 6em;
        padding-top: 1em;
        ;
    }
    a {
        color: beige;
    }
    td {
        padding: 1em;
        text-align: left;
    }